.contacts {
  position: relative;
  min-width: $width-mobile;

  &--white {
    background-color: $bg-white;
  }

  &--gray {
    background-color: $bg-gray;
  }
}

.contacts__text {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 25px;

  @media (min-width: $width-tablet) {
    padding: 60px 40px 60px 40px;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $bg-white;
    width: 570px;
    box-sizing: border-box;
    padding: 54px 84px 60px 76px;
  }
}

.contacts__lead {
  width: 140px;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: $text-dark;
  margin: 0;

  @include text-style(16px, 20px);

  @media (min-width: $width-tablet) {
    width: 160px;

    @include text-style(20px, 25px);
  }
}

.contacts__address {
  width: 140px;
  margin: 0;
  text-align: left;

  @include text-style(14px, 20px);

  @media (min-width: $width-tablet) {
    width: 160px;
    text-align: right;

    @include text-style(16px, 20px);
  }

  @media (min-width: $width-desktop) {
    text-align: left;
  }
}

.contacts__street {
  @media (min-width: $width-tablet) {
    display: block;
    margin-bottom: 20px;
  }
}

.contacts__map {
  z-index: 0;
  width: 100%;
  height: 364px;
  background: $bg-gray url("../img/bg-map-mobile@1x.png") no-repeat center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $width-tablet) {
    height: 394px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $width-desktop) {
    height: 402px;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
