.heading {
  margin: 0;
  font-family: $font-oswald;
  color: $text-dark;

  &--title {
    padding-top: 20px;
    padding-bottom: 22px;

    @include text-style(36px, 60px);
  }

  &--subtitle {
    padding-top: 25px;
    padding-bottom: 25px;

    @include text-style(24px, 24px);
  }

  @media (min-width: $width-tablet) {
    &--title {
      @include text-style(60px, 60px);
    }

    &--subtitle {
      @include text-style(36px, 36px);
    }
  }
}
