.link {
  display: inline-block;
  border: none;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-family: $font-oswald;
  cursor: pointer;
}

.link--arrow {
  position: relative;
  color: $text-dark;
  max-width: 75%;
  text-align: left;

  @include text-style(16px, 16px);

  &::after {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 14%;
    content: "";
    width: 24px;
    height: 11px;
    background: url("../img/vector/icon-right-arrow-long.svg") no-repeat center;
    transform: translateY(-50%);
  }

  &:hover {
    &::after {
      width: 32px;
      background: url("../img/vector/icon-right-arrow-verylong.svg") no-repeat center;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    &::after {
      margin-left: 22%;
    }
  }
}

.link--underline {
  color: $text-dark;
  padding: 0;
  border-bottom: 1px dotted $line-gray-2;

  @include text-style(16px, 20px);

  &:hover {
    border-bottom: 1px solid $line-gray-1;
  }

  &:active {
    border: none;
  }

  @media (min-width: $width-tablet) {
    @include text-style(20px, 20px);
  }
}
