.example {
  background-color: $bg-gray;
  padding: 15px 0 20px 0;
  min-width: $width-mobile;

  @media (min-width: $width-tablet) {
    padding-top: 5px;
    padding-bottom: 58px;
    background-color: $bg-white;
    background-image: linear-gradient(to bottom, #ffffff 56%, $bg-gray 56%);
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, #ffffff 23%, $bg-gray 23%);
  }
}

.example__title {
  font-family: $font-oswald;
  color: $text-dark;
  padding: 0 20px;
  margin: 0 0 25px 0;

  @include text-style(36px, 60px);

  @media (min-width: $width-tablet) {
    margin: 0 0 65px 0;

    @include text-style(60px, 60px);
  }

  @media (min-width: $width-desktop) {
    margin: 0 0 146px 0;
  }
}

.example__story {
  padding: 0 25px 0 20px;
  margin: 20px 0;

  @media (min-width: $width-tablet) {
    padding-right: 20px;
    margin-bottom: 49px;

    @include text-style(16px, 24px);
  }

  @media (min-width: $width-desktop) {
    width: 438px;
    margin-bottom: 64px;
  }
}

.example__wrapper {
  padding: 0 20px;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 84px;
  }

  @media (min-width: $width-desktop) {
    display: block;
    margin-bottom: 75px;
  }
}

.example__progress {
  margin: 10px auto 8px auto;
  text-align: center;

  @media (min-width: $width-tablet) {
    margin: 0;
  }
}

.example__cost {
  text-transform: uppercase;
  text-align: center;
  font-family: $font-oswald;
  margin-top: 30px;
  color: $text-dark;
  margin-bottom: 35px;

  @include text-style(14px, 20px);

  @media (min-width: $width-tablet) {
    width: 192px;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;

    @include text-style(20px, 20px);
  }

  @media (min-width: $width-desktop) {
    width: 438px;
    text-align: left;
    margin-top: 55px;
  }
}

.example__cost-text {
  @media (min-width: $width-tablet) {
    display: inline-block;
    margin-bottom: 10px;
  }

  @media (min-width: $width-desktop) {
    display: inline;
    margin-right: 60px;
  }
}

.example__image {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 240px;

  @media (min-width: $width-tablet) {
    width: 677px;
    height: 502px;
  }

  @media (min-width: $width-desktop) {
    margin: -42px 0 42px -40px;
  }
}

.example__result {
  margin: 30px auto 15px auto;
  display: flex;
  justify-content: space-between;
  width: 200px;

  @media (min-width: $width-tablet) {
    width: 570px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 0 8px auto;
    text-align: right;
  }
}

.example__indicator {
  margin-top: 4px;
  margin-left: 5px;
  width: 84px;
  height: 14px;
  background-color: $bg-white;
  border: 1px solid $line-gray-3;
  border-radius: 15px;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    margin-top: 7px;
    margin-left: 0;
    background-color: $line;
    width: 428px;
    height: 6px;
    border: none;
  }
}

.example__button {
  &--before {
    padding-left: 3px;
  }

  @media (min-width: $width-tablet) {
    @include text-style(20px, 20px);
  }
}

.example__columns {
  @media (min-width: $width-desktop) {
    display: flex;
  }
}

.example__column {
  @media (min-width: $width-desktop) {
    width: 50%;
  }
}
