.program {
  margin-top: 20px;

  @media (min-width: $width-tablet) {
    margin-top: 0;
    margin-bottom: 42px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.program__list {
  @include list-reset();

  @media (min-width: $width-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }
}

.program__item {
  position: relative;
  padding: 25px 22px 20px 20px;
  margin-bottom: 19px;
  background-color: $bg-gray;

  &::before {
    position: absolute;
    content: "";
    top: 28px;
    left: 22px;
    display: block; 
    width: 50px;
    height: 50px;
    background: $bg-green;
    border-radius: 50%;
  }

  &--slim::after {
    position: absolute;
    content: url("../img/vector/icon-cat-slim.svg");
    top: 40px;
    left: 30px;
    width: 35px;
    height: 49px;
    margin-top: -15px;
  }

  &--pro::after {
    position: absolute;
    content: url("../img/vector/icon-cat-pro.svg");
    top: 38px;
    left: 12px;
    width: 67px;
    height: 28px;
  }

  @media (min-width: $width-tablet) {
    padding: 75px 283px 64px 52px;
    margin-bottom: 30px;

    &:last-child {
      padding-right: 315px;
    }

    &::before {
      top: 50%;
      transform: translateY(-50%);
      right: 60px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 50%;
      transform: translateY(-50%);
      right: 90px;
      left: auto;
      width: 140px;
      height: 194px;
      margin-top: -15px;
    }

    &--pro::after {
      top: 50%;
      transform: translateY(-50%);
      right: 25px;
      left: auto;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $width-desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 570px;
    padding: 42px 50px 64px 53px;
    box-sizing: border-box;

    &:last-child {
      padding-right: 50px;
    }

    &::before {
      top: 95px;
      right: auto;
      left: 50px;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: 86px;
      right: auto;
      left: 65px;
      width: 70px;
      height: 97px;
      margin-top: 0;
    }

    &--pro::after {
      top: 96px;
      right: auto;
      left: 35px;
      width: 134px;
      height: 56px;
    }
  }
}

.program__name {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 7px 0 8px 70px;
  padding-bottom: 8px;
  color: $text-dark;
  text-transform: uppercase;
  font-family: $font-oswald;

  @include text-style(24px, 37px);

  @media (min-width: $width-tablet) {
    padding: 0;

    @include text-style(36px, 37px);
  }

  @media (min-width: $width-desktop) {
    padding: 32px 0 34px 162px;
  }
}

.program__description {
  color: $text-gray;
  margin: 22px 0 17px 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $line-gray-4;
  font-family: $font-arial;

  @include text-style(14px, 18px);

  @media (min-width: $width-tablet) {
    margin: 25px 0 34px 0;
    border-bottom: none;

    @include text-style(16px, 24px);
  }

  @media (min-width: $width-desktop) {
    width: 100%;
    margin: 40px 0 10px 0;
    box-sizing: border-box;
  }
}

.program__link {
  @media (min-width: $width-tablet) {
    @include text-style(20px, 20px);
  }

  @media (min-width: $width-tablet) {
    margin-top: auto;
  }
}
