.catalog {
  display: block;
}

.catalog__title {
  padding: 14px 20px 28px 20px;
  border-bottom: 1px solid $border-gray-light;

  @media (min-width: $width-tablet) {
    padding: 32px 30px 81px 30px;
    border-bottom: none;
  }

  @media (min-width: $width-desktop) {
    padding: 60px 40px 82px 40px;
  }
}

.catalog__products {
  min-width: $width-mobile;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
  }
}

.catalog__layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.catalog__item {
  width: 100%;
  padding: 0 20px 25px 20px;
  margin: 0;
  background-color: $bg-white;
  border-bottom: 1px solid $bg-gray;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    width: 42%;
    padding: 0 5% 40px 5%;
    margin: 82px 4% 60px 4%;
    background-color: $bg-gray;
    border-bottom: none;

    &--white {
      background-color: $bg-white;
      border: 1px solid $bg-gray;
    }
  }

  @media (min-width: $width-desktop) {
    width: 19%;
    padding: 0 2.9% 40px 2.9%;
    margin: 84px 3% 60px 3%;
  }
}

.catalog__subtitle {
  display: inline-block;
  vertical-align: middle;
  margin-top: -42px;
  margin-left: -20px;
  padding-bottom: 34px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $bg-white;

  @media (min-width: $width-tablet) {
    margin-top: -50px;
    margin-left: 0;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 80px;
  }

  @media (min-width: $width-desktop) {
    margin-left: -40px;
  }
}

.catalog__addons {
  margin-top: 28px;
  border-top: 3px solid $bg-green;

  @media (min-width: $width-desktop) {
    margin: 38px 0 85px 0;
  }
}

.catalog__addons-container {
  margin: 0 20px;
  border-top: 1px solid $border-gray-light;

  @media (min-width: $width-tablet) {
    margin: 0 30px;
    border-top: none;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

.catalog__offer {
  margin: 40px 0 35px 0;

  @media (min-width: $width-tablet) {
    margin: 72px 0 78px 0;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
  }
}
