.contacts--white {
  background-color: $bg-white;
}

.contacts--gray {
  background-color: $bg-gray;
}

.contacts__text {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contacts__lead {
  width: 50%;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: $text-dark;
  margin: 0;

  @include text-style(16px, 20px);
}

.contacts__address {
  width: 50%;
  margin: 0;

  @include text-style(14px, 20px);
}

.contacts__map {
  width: 320px;
  min-height: 364px;
  background: $bg-gray url("http://placehold.it/320x364") no-repeat;
}
