.description {
  width: 100%;
  border-collapse: collapse;
}

.description__param {
  padding: 0;
}

.description__value {
  padding: 0;
  text-align: right;
}

@media (min-width: $width-tablet) {
  .description--addon {
    width: 230px;
    margin-bottom: 0;
  }
  
  .description__item {
    border-bottom: 1px solid $border-gray-lighter;
  }

  .description__item--addon {
    border-bottom: none;
  }

  .description__param {
    padding: 8px 0;
  }

  .description__value {
    padding: 8px 0;
  }
}