.feature {
  margin-bottom: 20px;
}

.feature__title {
  font-family: $font-oswald;
  margin: 0 0 30px 0;
  color: $text-dark;

  @include text-style(36px, 60px);
}

.feature__list {
  border-bottom: 1px solid transparent;

  @include list-reset();
}

.feature__item {
  position: relative;
  margin: 0 0 25px 0;
  padding: 0 0 0 80px;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 60px;
    height: 60px;
    background: $bg-gray url("http://placehold.it/60x60") no-repeat;
  }
}
