.form {
  font-family: $font-oswald;
}

.form__subtitle--comment {
  padding-top: 14px;
}

.form__description {
  color: $text-dark;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 38px 0;

  @include text-style(14px, 18px);
}

.form__about {
  margin-bottom: 10px;
}

.form__goal {
  border-top: 1px solid $border-gray-light;
  border-bottom: 1px solid $border-gray-light;
  padding: 13px 0;
}

.form__extra {
  padding-bottom: 20px;
}

.form__wrapper {
  display: flex;
  align-items: baseline;
}

.form__label {
  color: $text-darker;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 13px 0;

  @include text-style(16px, 18px);
}

.form__label--radio {
  position: relative;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: $bg-green;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 8px white,
      0 0 0 9px $border-radio;
  }
}

.form__label--checkbox {
  position: relative;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    cursor: pointer;
    box-shadow: 0 0 0 8px white,
      0 0 0 9px $border-radio;
  }
}

.form__text-field {
  box-sizing: border-box;
  min-width: 100px;
  display: inline-block;
  vertical-align: middle;
  flex-grow: 1;
  padding: 13px;
  color: $text-gray;
  text-transform: uppercase;
  margin: 0 0 15px 12px;

  @include text-style(16px, 18px);

  &::placeholder {
    font-family: $font-oswald;

    @include text-style(16px, 18px);
  }
}

.form__text-field--multiline {
  width: 100%;
  height: 150px;
  margin: 0;
}

.form__button {
  width: 100%;
}

.form__tip {
  font-family: $font-arial;
  text-align: center;
  margin: 20px 0 30px 0;

  @include text-style(14px, 16px);
}

@media (min-width: $width-tablet) {
  .form {
    margin-bottom: 75px;
  }

  .form__description {
    margin-left: 42px;
    margin-top: 30px;
    padding-bottom: 72px;
    width: 322px;

    @include text-style(20px, 30px);
  }

  .form__label {
    @include text-style(20px, 20px);
  }

  .form__label--radio {
    padding: 16px 0 16px 60px;

    &::before {
      width: 18px;
      height: 18px;
      box-shadow: 0 0 0 10px white,
        0 0 0 11px $border-radio;
    }
  }

  .form__label--checkbox {
    padding-left: 65px;
    margin-bottom: 30px;
    width: 342px;
    box-sizing: border-box;

    &::before {
      width: 21px;
      height: 21px;
      box-shadow: 0 0 0 8px white,
        0 0 0 9px $border-radio;
    }
  }

  .form__text-field {
    margin: 0 0 20px 16px;

    @include text-style(20px, 20px);

    &::placeholder {
      @include text-style(20px, 20px);
    }
  }

  .form__text-field--multiline {
    height: 178px;
    margin-left: 0;
  }

  .form__about {
    margin-bottom: 55px;
  } 

  .form__goal {
    border: 1px solid $border-gray-light;
    padding: 20px 30px;
    margin-bottom: 50px;
  }

  .form__contacts {
    margin-bottom: 30px;
  }

  .form__comment {
    margin-bottom: 20px;
  }

  .form__extra-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form__subtitle {
    margin-bottom: 50px;
  }

  .form__subtitle--extra {
    margin-bottom: 25px;
  }

  .form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 536px;
  }

  .form__button {
    width: 282px;
    padding: 16px;

    @include text-style(20px, 20px);
  }

  .form__tip {
    margin: 0;
    width: 192px;
  }
}
