.get-more {
  position: relative;
  text-align: center;
  background-color: $bg-white;

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-image: url("http://placehold.it/30x30");
  }
}

.get-more__text {
  color: $text-dark;
  font-family: $font-oswald;
  text-transform: uppercase;
  padding-top: 80px;
  padding-bottom: 10px;
  margin: 0;

  @include text-style(16px, 20px);
}

.get-more__text--extra {
  color: $text-gray;
  font-family: $font-arial;
  text-transform: none;
  padding: 0 0 20px 0;

  @include text-style(12px, 16px);
}

.get-more__link {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

@media (min-width: $width-tablet) {
  .get-more {
    border: 1px solid $bg-gray;

    &::before {
      top: 55px;
      width: 60px;
      height: 60px;
      background-image: url("http://placehold.it/60x60");
    }
}


  .get-more__text {
    padding-top: 0;
    padding-bottom: 25px;
    width: 138px;
    margin: 0 auto;

    @include text-style(20px, 20px);
  }

  .get-more__text--extra {
    padding-bottom: 82px;
    width: 176px;

    @include text-style(16px, 20px);
  }
}

@media (min-width: $width-desktop) {
  
}