.page-footer {
  background-color: $bg-gray;
}

.page-footer__logo {
  padding: 32px 0 32px 0;
  text-align: center;
  border-bottom: 1px solid $border-gray-light;
}

.page-footer__social {
  padding: 22px 0 22px 0;
  text-align: center;
  border-bottom: 1px solid $border-gray-light;
}

.page-footer__developer {
  padding: 20px 0 20px 0;
}

@media (min-width: $width-tablet) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 54px;
  }

  .page-footer__logo {
    border-bottom: none;
    padding: 0;
  }

  .page-footer__social {
    border-bottom: none;
    padding: 0;
  }

  .page-footer__developer {
    padding: 0;
    flex-shrink: 0;
  }
}
