.page {
  margin: 0;
  padding: 0;
  color: $text-gray;
  font-family: $font-arial;

  @include text-style(14px, 18px);
}

.page__container {
  min-width: $width-mobile;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $width-tablet) {
  .page__container {
    padding: 0 30px;
  }
}

@media (min-width: $width-desktop) {
  .page__container {
    max-width: $width-desktop;
    padding: 0 110px;
  }
}
