.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.product__image {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 144px;

  @media (min-width: $width-tablet) {
    align-items: flex-end;
    padding-bottom: 33px;
    width: 100%;
    height: 130px;

    & img {
      width: 324px;
      height: auto;
    }
  }

  @media (min-width: $width-desktop) {
    & img {
      width: 245px;
    }
  }
}

.product__details {
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    align-items: center;
  }
}

.product__name {
  font-family: $font-oswald;
  text-transform: uppercase;
  color: $text-dark;
  width: 74px;
  margin: 20px 0 15px 0;

  @include text-style(16px, 20px);

  @media (min-width: $width-tablet) {
    width: 132px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;

    @include text-style(20px, 20px);
  }
}

.product__description {
  margin: 9px 0;

  @include text-style(12px, 16px);

  @media (min-width: $width-tablet) {
    margin-bottom: 30px;

    @include text-style(16px, 16px);
  }
}

.product__button {
  width: 100%;
}
