.program__list {
  @include list-reset();
}

.program__item {
  padding: 28px 30px 20px 20px;
  margin-bottom: 20px;
  background-color: $bg-gray;
}

.program__name {
  position: relative;
  padding-left: 71px;
  margin: 0 0 30px 0;
  color: $text-dark;
  text-transform: uppercase;
  font-family: $font-oswald;

  @include text-style(24px, 37px);

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 50px;
    height: 50px;
    background: $text-dark url("http://placehold.it/50x50") no-repeat;
    border-radius: 50%;
  }
}

.program__description {
  color: $text-gray;
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-gray;
  font-family: $font-arial;

  @include text-style(14px, 18px);
}
