@mixin text-mobile {
  margin: 0;
  width: 280px;
  padding-bottom: 20px;
}

@mixin text-tablet {
  z-index: 2;
  width: 427px;
  padding-bottom: 40px;
}

.promo {
  font-family: $font-oswald;
  color: $text-light;
  background-repeat: no-repeat;
  background-position: top;
  background-image:
    linear-gradient(to top, #ffffff 97px, transparent 97px),
    url("../../img/index-background-mobile@1x.jpg");
  background-color: #61a63c;
  background-size: 100%;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.promo__title {
  padding-top: 20px;

  @include text-mobile();
  @include text-style(36px, 36px);
}

.promo__tagline {
  text-transform: uppercase;

  @include text-mobile();
  @include text-style(14px, 14px);
}

.promo__image {
  width: 280px;
  height: 271px;
}

.promo__button {
  align-self: stretch;
}

@media (min-width: $width-tablet) {
  .promo {
    color: $text-dark;
    background: $bg-white;
  }

  .promo__wrapper {
    align-items: flex-start;
    text-align: left;
    padding-left: 90px;
  }

  .promo__title {
    padding-top: 40px;

    @include text-tablet();
    @include text-style(60px, 60px);
  }

  .promo__tagline {
    @include text-tablet();
    @include text-style(20px, 20px);
  }

  .promo__image {
    width: 709px;
    height: 609px;
    margin-top: -75px;
    margin-left: -90px;
    align-self: center;
    order: 2;
    z-index: 1;
  }

  .promo__button {
    padding: 17px 25px;
    align-self: flex-start;
    order: 1;
    z-index: 2;

    @include text-style(20px, 20px);
  }
}

@media (min-width: $width-desktop) {
  .promo__wrapper {
    padding-left: 80px;
    padding-top: 40px;
  }

  .promo__image {
    width: 552px;
    height: 499px;
    margin-top: -30%;
    margin-left: 10%;
  }
}
