.subtitle {
  margin: 0;
  font-family: $font-oswald;
  color: $text-dark;

  @include text-style(24px, 24px);
}

@media (min-width: $width-tablet) {
  .subtitle {
    @include text-style(36px, 36px);
  }
}