.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  @media (min-width: $width-tablet) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.product__image {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 144px;

  @media (min-width: $width-tablet) {
    align-items: flex-end;
    padding-bottom: 28px;
    width: 100%;
    height: 130px;

    & picture {
      margin: 0 -40px 0 -40px; //to make IE11 happy
    }

    & img {
      width: 324px;
      height: auto;
    }
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 33px;

    & img {
      width: 245px;
    }
  }
}

.product__details {
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $width-tablet) {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 32px;
  }
}

.product__name {
  font-family: $font-oswald;
  text-transform: uppercase;
  color: $text-dark;
  width: 74px;
  margin: 0 0 14px 0;
  text-decoration: none;

  @include text-style(16px, 20px);

  @media (min-width: $width-tablet) {
    width: 132px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;

    @include text-style(20px, 20px);
  }

  @media (min-width: $width-desktop) {
    margin-top: 0;
    margin-bottom: 18px;
  }
}

.product__description {
  margin: 9px 0;

  @include text-style(12px, 16px);

  @media (min-width: $width-tablet) {
    margin-bottom: 30px;

    @include text-style(16px, 16px);
  }
}

.product__button {
  width: 100%;
}
