.input {
  position: relative;
  display: flex;
  align-items: baseline;
  margin-top: 16px;

  @media (min-width: $width-tablet) {
    margin-top: 19px;
  }

  @media (min-width: $width-desktop) {
    width: 570px;
  }
}

.input__label {
  font-family: $font-oswald;
  text-transform: uppercase;
  color: $text-darker;
  white-space: nowrap;
  padding: 13px 0 12px 0;

  @include text-style(16px, 18px);

  @media (min-width: $width-tablet) {
    @include text-style(20px, 20px);
  }
}

.input__field {
  font-family: $font-oswald;
  text-transform: uppercase;
  flex-grow: 1;
  color: $text-gray;
  margin-left: 12px;
  padding: 12px 16px;
  min-width: 172px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 0 1px $input-idle;
  outline: none;

  &--email,
  &--phone {
    padding-right: 45px;
  }

  &:invalid,
  &--error {
    box-shadow: 0 0 0 2px $input-error;
  }

  &:invalid + .input__icon,
  &--error + .input__icon {
    fill: $input-icon-fill-error;
  }

  &:hover {
    box-shadow: 0 0 0 1px $input-hover;
  }

  &:hover + .input__icon {
    fill: $input-icon-fill-idle;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 2px $input-active;
  }

  &:active + .input__icon,
  &:focus + .input__icon {
    fill: $input-icon-fill-active;
  }

  @include text-style(16px, 18px);

  &::placeholder {
    text-transform: uppercase;
    font-family: $font-oswald;

    @include text-style(16px, 18px);
  }

  @media (min-width: $width-tablet) {
    margin-left: 18px;
    padding: 12px 18px;

    @include text-style(20px, 20px);

    &::placeholder {
      @include text-style(20px, 20px);
    }
  }

  @media (min-width: $width-tablet) {
    &--email {
      margin-left: 20px;
      padding: 11px 50px 11px 18px;
    }

    &--phone {
      margin-left: 14px;
      padding: 11px 50px 11px 18px;
    }
  }

  @media (min-width: $width-desktop) {
    &--email,
    &--phone {
      width: 485px;
    }
  }
}

.input__icon {
  position: absolute;
  display: block;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  width: 20px;
  fill: $input-icon-fill-idle;

  @media (min-width: $width-tablet) {
    right: 18px;
  }
}
