$width-desktop: 1300px;
$width-tablet: 768px;
$width-mobile: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-arial: "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;

$text-light: #ffffff;
$text-gray: #444444;
$text-darker: #222222;
$text-dark: #111111;

$bg-darkgray: #eaeaea;
$bg-gray: #f2f2f2;
$bg-green: #68b738;
$bg-white: #ffffff;
$bg-black: #363636;

$line-gray-1: #989898;
$line-gray-2: #bebebe;
$line-gray-3: #cdcdcd;
$line-gray-4: #d9d9d9;
$line-gray-5: #dcdcdc;
$line-gray-6: #e6e6e6; //$line-gray-lightest

$input-idle: #e6e6e6;
$input-hover: #cdcdcd;
$input-active: #444444;
$input-error: #ff8282;

$radio-border-idle: #cecece;
$radio-border-hover: #bcbcbc;

$checkbox-border-idle: #cdcdcd;
$checkbox-border-hover: #bababa;

$social-icon-fill-idle: #666666;
$social-icon-fill-hover: #68b738;

$input-icon-fill-idle: #222222;
$input-icon-fill-active: #68b738;
$input-icon-fill-error: #ff8282;

$toggler-border-idle: #cecece;
$toggler-border-active: #68b738;
