$font-arial: "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;

$text-light: #ffffff;
$text-gray: #444444;
$text-darker: #222222;
$text-dark: #111111;

$bg-gray: #f2f2f2;
$bg-green: #68b738;
$bg-white: #ffffff;
$bg-black: #363636;

$border-gray-dark: #989898;
$border-gray-darker: #bebebe;
$border-gray-lighter: #cdcdcd;
$border-gray-light: #d9d9d9;
$border-radio: #dedede;
