.social {
  display: inline-block;
  width: 130px;

  @include list-reset();

  @media (min-width: $width-tablet) {
    width: 136px;
  }
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px 0 0;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @include text-style(0, 0);
}

.social__link {
  &:hover .social__icon {
    fill: $social-icon-fill-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  fill: $social-icon-fill-idle;
}

.social__icon--vk {
  width: 22px;
  height: 12px;

  @media (min-width: $width-tablet) {
    width: 30px;
    height: 16px;
  }
}

.social__icon--insta {
  width: 16px;
  height: 16px;

  @media (min-width: $width-tablet) {
    width: 23px;
    height: 23px;
  }
}

.social__icon--fb {
  width: 10px;
  height: 19px;

  @media (min-width: $width-tablet) {
    width: 14px;
    height: 28px;
  }
}
